<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>
<br/><br/>

<table>
    Name Email Category Credit Card  CVV Date
    {{#purchases}}
        <ul>{{customer.getName}} {{customer.getEmail}} {{category}} {{creditCard}} {{cvv}} {{date}} </ul>
    {{/purchases}}

</table>
</body>
</html>